<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courser</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <header class="header">
        <nav class="nab-bar">
            <div class="logo"><a href="./index.html" class="logo_home">DCV Expert</a></div>
            <ul class="nav-links">
                <li><a href="./products.html">Oferte și reduceri</a></li>
                <li><a href="#">Noutăți</a></li>
                <li><a href="#">Recenzii</a></li>
                <li><a href="#">Despre Noi</a></li>
            </ul>
            <div class="buttons">
                <button class="login">Login</button>
                <button class="signup">Sign In</button>
            </div>
        </nav>
    </header>
    <section class="hero">
        <div class="hero-text">
            <h1>Învață o nouă abilitate în fiecare zi, oricând și oriunde..</h1>
            <p> O Serie de cursuri <strong>online</strong> care acoperă o gama de domenii tehnologice și obiecte
                generale, pentru ca tu să înveți și să explorezi noi oportunități.</p>
            <div class="hero-buttons">
                <a href="./products.html" class="start-trial">Începe cursurile</a>
                <a class="how-it-works">Cum funcționează</a>
            </div>
        </div>
        <div class="hero-image">
            <img src="./img/learnign_2_export.png" alt="Learning Image">
        </div>
        <div class="stats">
            <div class="stat">
                <h2>10+</h2>
                <p>Diverse cursuri</p>
            </div>
            <div class="stat">
                <h2>500+</h2>
                <p>Elevi au finisat cursurile</p>
            </div>
            <div class="stat">
                <h2>20+</h2>
                <p>Profesori cu experienta</p>
            </div>
        </div>
    </section>
    <section class="benefits">
        <div class="benefit__wrap">
            <h2 class="benefit_title">Lorem ipsum dolor sit.</h2>
            <div class="benefit_cards">
                <div class="benefit_card">
                    <div class="benefit_cards_pic">
                        <img src="./img/mortarboard.png" alt="Gourse groupe" class="card_img">
                    </div>
                    <h3 class="benefit_cards_titles">Lorem, ipsum dolor.</h3>
                    <p class="benefits_card_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi omnis
                        est ad nemo ex delectus, non adipisci repellendus maxime provident officiis, qui!</p>
                    <a href="./product.html" class="benefits_card_more">VEZI DETALII</a>
                </div>
                <div class="benefit_card">
                    <div class="benefit_cards_pic">
                        <img src="./img/books.png" alt="Gourse groupe" class="card_img">
                    </div>
                    <h3 class="benefit_cards_titles">Lorem, ipsum dolor.</h3>
                    <p class="benefits_card_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi omnis
                        est ad nemo ex delectus, non adipisci repellendus maxime provident officiis, qui!</p>
                    <a href="#1" class="benefits_card_more">VEZI DETALII</a>
                </div>
                <div class="benefit_card">
                    <div class="benefit_cards_pic">
                        <img src="./img/workplace.png" alt="Gourse groupe" class="card_img">
                    </div>
                    <h3 class="benefit_cards_titles">Lorem, ipsum dolor.</h3>
                    <p class="benefits_card_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi omnis
                        est ad nemo ex delectus, non adipisci repellendus maxime provident officiis, qui!</p>
                    <a href="#1" class="benefits_card_more">VEZI DETALII</a>
                </div>
            </div>
        </div>
    </section>
    <div class="motivation_speach">
        <h2 class="motivation_text">Lorem ipsum dolor sit amet.</h2>
        <p class="motivation_descritptio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptas
            placeat tempore eius voluptatem fuga quasi similique eum iure assumenda molestias recusandae animi quae
            fugiat, nemo nobis mollitia vero sapiente deserunt! Voluptatibus ab a harum?</p>
    </div>
    <section class="courses_section">
        <div class="Courses">
            <div class="Cours">
                <div class="cours_img">
                    <img src="./img/mathemetic/math_3.jpg" alt="Gourse groupe" class="cours_png">
                </div>
                <h3 class="cours_nam">Lorem, ipsum dolor.</h3>
                <p class="cours_description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate
                    laborum rem doloremque ad qui? Perferendis reprehenderit dolorum quaerat beatae nihil!</p>
                <div class="cours_price">
                    <p class="old_price">20 $</p>
                    <p class="actual_price">10 $</p>
                </div>
                <div class="cours_details">
                    <img src="./img/course_detale_icons/icon akar-icons-calendar.png" alt="Clock_icon"
                        class="cours_png">
                    <p class="cours_duration">15h 30min</p>
                    <img src="./img/course_detale_icons/icon ant-design-area-chart-outlined.png" alt="chart_icon"
                        class="cours_png">
                    <p class="cours_lesson_count">10 Lessons</p>
                    <img src="./img/course_detale_icons/icon carbon-chart-area-smooth.png" alt="chart_area_icon"
                        class="cours_png">
                    <p class="cours_progress">Progress</p>
                </div>
                <a href="./product.html" class="cours_learn_more">MAI MULTE DETALII</a>
                <div class="mar_botom"></div>
            </div>
            <div class="Cours">
                <div class="cours_img">
                    <img src="./img/it_cours/it_1.jpg" alt="Gourse groupe" class="cours_png">
                </div>
                <h3 class="cours_nam">Lorem, ipsum dolor.</h3>
                <p class="cours_description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate
                    laborum rem doloremque ad qui? Perferendis reprehenderit dolorum quaerat beatae nihil!</p>
                <div class="cours_price">
                    <p class="old_price">20 $</p>
                    <p class="actual_price">10 $</p>
                </div>
                <div class="cours_details">
                    <img src="./img/course_detale_icons/icon akar-icons-calendar.png" alt="Clock_icon"
                        class="cours_png">
                    <p class="cours_duration">15h 30min</p>
                    <img src="./img/course_detale_icons/icon ant-design-area-chart-outlined.png" alt="chart_icon"
                        class="cours_png">
                    <p class="cours_lesson_count">10 Lessons</p>
                    <img src="./img/course_detale_icons/icon carbon-chart-area-smooth.png" alt="chart_area_icon"
                        class="cours_png">
                    <p class="cours_progress">Progress</p>
                </div>
                <a href="#2" class="cours_learn_more">MAI MULTE DETALII</a>
                <div class="mar_botom"></div>
            </div>
            <div class="Cours">
                <div class="cours_img">
                    <img src="./img/desaign/disaign_1.jpg" alt="Gourse groupe" class="cours_png">
                </div>
                <h3 class="cours_nam">Lorem, ipsum dolor.</h3>
                <p class="cours_description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate
                    laborum rem doloremque ad qui? Perferendis reprehenderit dolorum quaerat beatae nihil!</p>
                <div class="cours_price">
                    <p class="old_price">20 $</p>
                    <p class="actual_price">10 $</p>
                </div>
                <div class="cours_details">
                    <img src="./img/course_detale_icons/icon akar-icons-calendar.png" alt="Clock_icon"
                        class="cours_png">
                    <p class="cours_duration">15h 30min</p>
                    <img src="./img/course_detale_icons/icon ant-design-area-chart-outlined.png" alt="chart_icon"
                        class="cours_png">
                    <p class="cours_lesson_count">10 Lessons</p>
                    <img src="./img/course_detale_icons/icon carbon-chart-area-smooth.png" alt="chart_area_icon"
                        class="cours_png">
                    <p class="cours_progress">Progress</p>
                </div>
                <a href="#2" class="cours_learn_more">MAI MULTE DETALII</a>
                <div class="mar_botom"></div>
            </div>
        </div>
        <div class="courses_more"><a href="./products.html" class="course_more">Mai multe cursuri</a></div>
    </section>
    <section class="join_us_form">
        <div class="join_us_form_wrap">
            <h2 class="join_us_form_title">Vreau sa ma inscriu la o lectie de proba</h2>
            <p class="join_description_motivation">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis officia est repudiandae debitis beatae? Architecto magnam eius tenetur repudiandae quod tempora, fugiat, cumque pariatur at excepturi suscipit? Dignissimos magni quos ex placeat dolores. Eligendi eveniet numquam obcaecati, cum reiciendis nihil! Dignissimos voluptates natus laboriosam provident.</p>
            <form action="#" class="join_us_form_form">
                <input type="text" class="join_us_form_input" placeholder="Numele Prenumele">
                <input type="phone" class="join_us_form_input" placeholder="Telefon">
                <input type="email" class="join_us_form_input" placeholder="Email">
                <button class="join_us_form_button">ÎNSCRIE-TE</button>
            </form>
        </div>
    </section>
    <footer class="footer">
        <div class="footer_container">
            <div class="footer_section contact_info">
                <img src="LogoFile" alt="MyLogo" class="footer_logo">
                <h3>Call us</h3>
                <p><strong>800 388 80 90</strong> or <strong>667 234 32 67</strong></p>
                <p>mihai.rotari.nicolai@gmail.com</p>
                <p>9 AM – 5 PM DC, Monday – Friday</p>
                <p>Chisinau,Stefan Cel Mare 9999999.</p>
            </div>
            
            <div class="footer_section">
                <h3>Links</h3>
                <ul>
                    <li><a href="#">Start Here</a></li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">Demo Account</a></li>
                </ul>
            </div>
            
            <div class="footer_section">
                <h3>Information</h3>
                <ul>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Start Here</a></li>
                    <li><a href="#">Membership Levels</a></li>
                    <li><a href="#">Purchase Guide</a></li>
                    <li><a href="#">Become a Teacher</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                </ul>
            </div>
    
            <div class="footer_section newsletter">
                <h3>Sign Up for Our Newsletter</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="newsletter_form">
                    <input type="email" placeholder="Your e-mail">
                    <button>SUBSCRIBE</button>
                </div>
            </div>
        </div>
        
        <div class="footer_bottom">
            <p>&copy; 2025 All Rights Reserved</p>
        </div>
    </footer>    
</body>
</html>