{% extends 'DCVExpert/template_base.html' %}
{% load static %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/style_products.css' %}">
    {% endblock %}

    {% block content %}
    <section class="searchbar">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form method="GET" action="{% url 'courses_list' %}">
                        <div class="input-group mb-3">
                            <select class="form-select" name="category_id" style="max-width: 250px;">
                                <option selected>{{ categories.3.Category_name }}</option>
                                {% for category in categories %}
                                    {% if category.Category_name != 'Toate Categoriile' %}
                                    <option value="{{ category.id }}">{{ category.Category_name }}</option>
                                    {% endif %}
                                {% endfor %}
                                </select>
                            <input type="text" name="search_query" class="form-control" placeholder="Search...">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
    </section>
    <section class="courses_section">
        <div class="Courses">
            {% for Cours in courses %}
            <div class="Cours">
                <div class="cours_img">
                    <img src="{{ Cours.photo.url }}" alt="Gourse groupe" class="cours_head_png">
                </div>
                <h3 class="cours_nam">{{ Cours.name }}</h3>
                <p class="cours_description">{{ Cours.about.short_description |slice:":190" }}...</p>
                <div class="cours_price">
                    <p class="old_price">{{ Cours.price.old_price }}</p>
                    <p class="actual_price">{{ Cours.price.new_price }}</p>
                </div>
                <div class="cours_details">
                    <img src="{% static 'img/course_detale_icons/icon akar-icons-calendar.png' %}" alt="Clock_icon"
                        class="cours_png">
                    <p class="cours_duration">{{ Cours.about.duration }}</p>
                    <img src="{% static 'img/course_detale_icons/icon ant-design-area-chart-outlined.png' %}" alt="chart_icon"
                        class="cours_png">
                    <p class="cours_lesson_count">{{ Cours.about.lesson_count }} Lectii</p>
                    <!-- <img src="./img/course_detale_icons/icon carbon-chart-area-smooth.png" alt="chart_area_icon"
                        class="cours_png">
                    <p class="cours_progress">Progress</p> -->
                </div>
                <a href="{% url 'course' Cours.id %}" class="cours_learn_more">MAI MULTE DETALII</a>
                <div class="mar_botom"></div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endblock %}