<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courser</title>
    <link rel="stylesheet" href="./css/style_products.css">
</head>

<body>
    <header class="header">
        <nav class="nab-bar">
            <div class="logo"><a href="./index.html" class="logo_home">DCV Expert</a></div>
            <ul class="nav-links">
                <li><a href="#">Oferte și reduceri</a></li>
                <li><a href="#">Noutăți</a></li>
                <li><a href="#">Recenzii</a></li>
                <li><a href="#">Despre Noi</a></li>
            </ul>
            <div class="buttons">
                <button class="login">Login</button>
                <button class="signup">Sign In</button>
            </div>
        </nav>
    </header>
    <section class="searchbar">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form>
                        <div class="input-group mb-3">
                            <select class="form-select" style="max-width: 250px;">
                                    <option selected>All Categories</option>
                                    <option value="1">Category 1</option>
                                    <option value="2">Category 2</option>
                                    <option value="3">Category 3</option>
                                </select>
                            <input type="text" class="form-control" placeholder="Search...">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
    </section>
    <section class="courses_section">
        <div class="Courses">
            <div class="Cours">
                <div class="cours_img">
                    <img src="./img/mathemetic/math_3.jpg" alt="Gourse groupe" class="cours_png">
                </div>
                <h3 class="cours_nam">Lorem, ipsum dolor.</h3>
                <p class="cours_description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate
                    laborum rem doloremque ad qui? Perferendis reprehenderit dolorum quaerat beatae nihil!</p>
                <div class="cours_price">
                    <p class="old_price">20 Lei</p>
                    <p class="actual_price">10 Lei</p>
                </div>
                <div class="cours_details">
                    <img src="./img/course_detale_icons/icon akar-icons-calendar.png" alt="Clock_icon"
                        class="cours_png">
                    <p class="cours_duration">15h 30min</p>
                    <img src="./img/course_detale_icons/icon ant-design-area-chart-outlined.png" alt="chart_icon"
                        class="cours_png">
                    <p class="cours_lesson_count">10 Lessons</p>
                    <!-- <img src="./img/course_detale_icons/icon carbon-chart-area-smooth.png" alt="chart_area_icon"
                        class="cours_png">
                    <p class="cours_progress">Progress</p> -->
                </div>
                <a href="./product.html" class="cours_learn_more">MAI MULTE DETALII</a>
                <div class="mar_botom"></div>
            </div>
            <div class="Cours">
                <div class="cours_img">
                    <img src="./img/it_cours/it_1.jpg" alt="Gourse groupe" class="cours_png">
                </div>
                <h3 class="cours_nam">Lorem, ipsum dolor.</h3>
                <p class="cours_description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate
                    laborum rem doloremque ad qui? Perferendis reprehenderit dolorum quaerat beatae nihil!</p>
                <div class="cours_price">
                    <p class="old_price">20 Lei</p>
                    <p class="actual_price">10 Lei</p>
                </div>
                <div class="cours_details">
                    <img src="./img/course_detale_icons/icon akar-icons-calendar.png" alt="Clock_icon"
                        class="cours_png">
                    <p class="cours_duration">15h 30min</p>
                    <img src="./img/course_detale_icons/icon ant-design-area-chart-outlined.png" alt="chart_icon"
                        class="cours_png">
                    <p class="cours_lesson_count">10 Lessons</p>
                    <!-- <img src="./img/course_detale_icons/icon carbon-chart-area-smooth.png" alt="chart_area_icon" -->
                        <!-- class="cours_png"> -->
                    <!-- <p hidden class="cours_progress">Progress</p> -->
                </div>
                <a href="#2" class="cours_learn_more">MAI MULTE DETALII</a>
                <div class="mar_botom"></div>
            </div>
            <div class="Cours">
                <div class="cours_img">
                    <img src="./img/desaign/disaign_1.jpg" alt="Gourse groupe" class="cours_png">
                </div>
                <h3 class="cours_nam">Lorem, ipsum dolor.</h3>
                <p class="cours_description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate
                    laborum rem doloremque ad qui? Perferendis reprehenderit dolorum quaerat beatae nihil!</p>
                <div class="cours_price">
                    <p class="old_price">20 Lei</p>
                    <p class="actual_price">10 Lei</p>
                </div>
                <div class="cours_details">
                    <img src="./img/course_detale_icons/icon akar-icons-calendar.png" alt="Clock_icon"
                        class="cours_png">
                    <p class="cours_duration">15h 30min</p>
                    <img src="./img/course_detale_icons/icon ant-design-area-chart-outlined.png" alt="chart_icon"
                        class="cours_png">
                    <p class="cours_lesson_count">10 Lessons</p>
                    <!-- <img src="./img/course_detale_icons/icon carbon-chart-area-smooth.png" alt="chart_area_icon"
                        class="cours_png">
                    <p class="cours_progress">Progress</p> -->
                </div>
                <a href="#2" class="cours_learn_more">MAI MULTE DETALII</a>
                <div class="mar_botom"></div>
            </div>
            <div class="Cours">
                <div class="cours_img">
                    <img src="./img/it_cours/it_2.webp" alt="Gourse groupe" class="cours_png">
                </div>
                <h3 class="cours_nam">Lorem, ipsum dolor.</h3>
                <p class="cours_description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate
                    laborum rem doloremque ad qui? Perferendis reprehenderit dolorum quaerat beatae nihil!</p>
                <div class="cours_price">
                    <p class="old_price">20 Lei</p>
                    <p class="actual_price">10 Lei</p>
                </div>
                <div class="cours_details">
                    <img src="./img/course_detale_icons/icon akar-icons-calendar.png" alt="Clock_icon"
                        class="cours_png">
                    <p class="cours_duration">15h 30min</p>
                    <img src="./img/course_detale_icons/icon ant-design-area-chart-outlined.png" alt="chart_icon"
                        class="cours_png">
                    <p class="cours_lesson_count">10 Lessons</p>
                    <!-- <img src="./img/course_detale_icons/icon carbon-chart-area-smooth.png" alt="chart_area_icon"
                        class="cours_png">
                    <p class="cours_progress">Progress</p> -->
                </div>
                <a href="#2" class="cours_learn_more">MAI MULTE DETALII</a>
                <div class="mar_botom"></div>
            </div>
            <div class="Cours">
                <div class="cours_img">
                    <img src="./img/desaign/disaighn_2.jpeg" alt="Gourse groupe" class="cours_png">
                </div>
                <h3 class="cours_nam">Lorem, ipsum dolor.</h3>
                <p class="cours_description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate
                    laborum rem doloremque ad qui? Perferendis reprehenderit dolorum quaerat beatae nihil!</p>
                <div class="cours_price">
                    <p class="old_price">20 Lei</p>
                    <p class="actual_price">10 Lei</p>
                </div>
                <div class="cours_details">
                    <img src="./img/course_detale_icons/icon akar-icons-calendar.png" alt="Clock_icon"
                        class="cours_png">
                    <p class="cours_duration">15h 30min</p>
                    <img src="./img/course_detale_icons/icon ant-design-area-chart-outlined.png" alt="chart_icon"
                        class="cours_png">
                    <p class="cours_lesson_count">10 Lessons</p>
                    <!-- <img src="./img/course_detale_icons/icon carbon-chart-area-smooth.png" alt="chart_area_icon"
                        class="cours_png">
                    <p class="cours_progress">Progress</p> -->
                </div>
                <a href="#2" class="cours_learn_more">MAI MULTE DETALII</a>
                <div class="mar_botom"></div>
            </div>
            <div class="Cours">
                <div class="cours_img">
                    <img src="./img/mathemetic/math_2.avif" alt="Gourse groupe" class="cours_png">
                </div>
                <h3 class="cours_nam">Lorem, ipsum dolor.</h3>
                <p class="cours_description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate
                    laborum rem doloremque ad qui? Perferendis reprehenderit dolorum quaerat beatae nihil!</p>
                <div class="cours_price">
                    <p class="old_price">20 Lei</p>
                    <p class="actual_price">10 Lei</p>
                </div>
                <div class="cours_details">
                    <img src="./img/course_detale_icons/icon akar-icons-calendar.png" alt="Clock_icon"
                        class="cours_png">
                    <p class="cours_duration">15h 30min</p>
                    <img src="./img/course_detale_icons/icon ant-design-area-chart-outlined.png" alt="chart_icon"
                        class="cours_png">
                    <p class="cours_lesson_count">10 Lessons</p>
                    <!-- <img src="./img/course_detale_icons/icon carbon-chart-area-smooth.png" alt="chart_area_icon"
                        class="cours_png">
                    <p class="cours_progress">Progress</p> -->
                </div>
                <a href="#2" class="cours_learn_more">MAI MULTE DETALII</a>
                <div class="mar_botom"></div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer_container">
            <div class="footer_section contact_info">
                <img src="LogoFile" alt="MyLogo" class="footer_logo">
                <h3>Call us</h3>
                <p><strong>800 388 80 90</strong> or <strong>667 234 32 67</strong></p>
                <p>mihai.rotari.nicolai@gmail.com</p>
                <p>9 AM – 5 PM DC, Monday – Friday</p>
                <p>Chisinau,Stefan Cel Mare 9999999.</p>
            </div>
            
            <div class="footer_section">
                <h3>Links</h3>
                <ul>
                    <li><a href="#">Start Here</a></li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">Demo Account</a></li>
                </ul>
            </div>
            
            <div class="footer_section">
                <h3>Information</h3>
                <ul>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Start Here</a></li>
                    <li><a href="#">Membership Levels</a></li>
                    <li><a href="#">Purchase Guide</a></li>
                    <li><a href="#">Become a Teacher</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                </ul>
            </div>
    
            <div class="footer_section newsletter">
                <h3>Sign Up for Our Newsletter</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="newsletter_form">
                    <input type="email" placeholder="Your e-mail">
                    <button>SUBSCRIBE</button>
                </div>
            </div>
        </div>
        
        <div class="footer_bottom">
            <p>&copy; 2025 All Rights Reserved</p>
        </div>
    </footer>    
</body>
</html>